[Unit]
Description=Run BUPT portal monitor every hour

[Timer]
OnCalendar=hourly
Persistent=true
Unit=bupt-portal-monitor.service

[Install]
WantedBy=timers.target
